.login-form-wrapper {
  width: 360px;
  height: 580px;
  border: 1px solid transparent;
  background: #ffffff;
  box-sizing: border-box;
}
.login-form-wrapper input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #bcbcd7;
  line-height: 22px;
}
.login-form-wrapper input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
}
.login-form-wrapper input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
}
.login-form-wrapper input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
}
.login-form-wrapper .login-form-image-wrapper {
  height: 213px;
  width: 360px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.login-form-wrapper .login-form-logo {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  justify-content: center;
}
.login-form-wrapper .login-form-input-wrapper {
  margin-left: 20px;
  margin-top: 15px;
  width: 322px;
  height: 48px;
  opacity: 0.7;
  display: flex;
  box-shadow: 0px 1px 0px 0px #b8b9d4;
}
.login-form-wrapper .login-form-input-wrapper .login-form-input-number {
  width: 200px;
  height: 30px;
  margin-top: 12px;
  border: none;
  outline: none;
}
.login-form-wrapper .login-form-input-wrapper .form-select {
  margin-top: 10px;
  font-weight: 600;
  color: #4e5278;
  line-height: 22px;
  width: 70px;
}
.login-form-wrapper .login-form-input-wrapper .ant-form-item-explain {
  margin-left: 76px;
  margin-top: -2px;
}
.login-form-wrapper .login-form-buttonGroup {
  margin-top: 50px;
  margin-left: 15px;
  width: 332px;
}
.login-form-wrapper .login-form-buttonGroup Button {
  width: 332px;
}
.login-form-wrapper .login-form-buttonGroup .login-form-submit {
  background: linear-gradient(244deg, #4ca0fe 0%, #8455ff 100%);
  height: 50px;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 300;
  color: #ffffff;
  line-height: 22px;
}
.login-form-wrapper .login-form-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.login-form-wrapper .login-form-Button .login-form-forgot {
  width: 70px;
  height: 20px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #5d648b;
  line-height: 20px;
}
.login-form-wrapper Button {
  border-style: none;
}
.login-form-wrapper .login-notice {
  width: 312px;
  height: 17px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #9398b2;
  line-height: 17px;
  margin-left: 25px;
  margin-top: 100px;
  letter-spacing: 1px;
}
.login-form-wrapper .erCode-wrapper {
  margin-left: 146px;
}
.login-form-wrapper .erCode-wrapper .erCode-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}
.login-form-wrapper .erCode-wrapper .erCoder-text {
  cursor: pointer;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #5791fe;
  line-height: 20px;
  margin-left: 4px;
}
.login-form-wrapper .error-message {
  width: 116px;
  height: 88px;
  background: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(198, 206, 219, 0.8), 1px 1px 4px 0px rgba(255, 255, 255, 0.3), -1px -1px 3px 0px rgba(242, 244, 247, 0.2);
  border-radius: 8px;
  position: absolute;
  top: 220px;
  left: 120px;
  z-index: 999;
}
.login-form-wrapper .error-message .icon-fail {
  width: 48px;
  height: 48px;
  margin: 0 34px;
  margin-bottom: 4px;
  margin-top: 8px;
}
.login-form-wrapper .error-message .error-text {
  margin-left: 16px;
  text-align: center;
  width: 84px;
  height: 16px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 600;
  color: #5770ec;
  line-height: 17px;
}
.login-form-wrapper .login-code-wrapper {
  box-sizing: border-box;
  position: relative;
}
.login-form-wrapper .login-code-wrapper .mask-wrapper {
  position: absolute;
  width: 148px;
  height: 148px;
  background: rgba(0, 0, 0, 0.5);
  left: 100px;
  top: 100px;
}
.login-form-wrapper .login-code-wrapper .mask-wrapper .mask-wrapper-icon {
  width: 32px;
  height: 32px;
  margin-left: 60px;
  margin-top: 30px;
}
.login-form-wrapper .login-code-wrapper .code-title-wrapper {
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #4e5278;
  line-height: 22px;
  margin-left: 128px;
  margin-bottom: 8px;
}
.login-form-wrapper .login-code-wrapper .code-explain-wrapper {
  height: 17px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #606583;
  line-height: 17px;
  margin-left: 81px;
  margin-bottom: 22px;
}
.login-form-wrapper .login-code-wrapper .code-download {
  height: 17px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #5791fe;
  line-height: 17px;
  margin-left: 137px;
}
.login-form-wrapper .login-code-wrapper .code-area {
  width: 128px;
  height: 128px;
  margin-top: 26px;
  margin-left: 112px;
}
.login-form-wrapper .login-code-wrapper .switch-phone-login {
  margin-top: 56px;
}
.login-form-wrapper .login-code-wrapper .switch-phone-login .phone-logo {
  margin-left: 128px;
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}
.login-form-wrapper .login-code-wrapper .switch-phone-login .phone-text {
  cursor: pointer;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #5791fe;
  line-height: 20px;
  margin-left: 4px;
}
