.passSaveWebsite-wrapper {
  width: 360px;
  box-sizing: border-box;
  height: 580px;
}
.passSaveWebsite-wrapper .password-modal3 {
  display: none;
  position: absolute;
  top: 220px;
  left: 45px;
  background: #ffffff;
  border: 1px solid #ebf1fb;
  width: 270px;
  z-index: 1000;
}
.passSaveWebsite-wrapper .password-modal3 .password-btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.passSaveWebsite-wrapper .password-modal3 .password-btn-group .main {
  width: 108px;
  height: 36px;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 18px;
  background-image: -webkit-linear-gradient(90deg, #18bff6, #1875f6);
}
.passSaveWebsite-wrapper .password-modal3 .password-btn-group .btn-1 {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.passSaveWebsite-wrapper .password-modal3 .password-btn-group .set-bg {
  width: 108px;
  height: 36px;
  background: linear-gradient(245deg, #4ca0fe 0%, #8455ff 100%);
  border-radius: 18px;
  cursor: pointer;
}
.passSaveWebsite-wrapper .password-modal3 .password-btn-group .btn-layout {
  width: 108px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
.passSaveWebsite-wrapper .password-modal3 .password-btn-group .ml-20 {
  margin-left: 20px;
  margin-right: 14px;
}
.passSaveWebsite-wrapper .password-modal3 .password-btn-group .mr-20 {
  margin-right: 20px;
}
.passSaveWebsite-wrapper .password-modal3 .password-title-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  margin-right: 16px;
  cursor: pointer;
}
.passSaveWebsite-wrapper .password-modal3 .password-title-icon .lock-icon {
  width: 32px;
  height: 32px;
  margin-right: 100px;
}
.passSaveWebsite-wrapper .password-modal3 .password-title {
  margin-top: 15px;
  margin-left: 70px;
  text-align: center;
  line-height: 18px;
  width: 140px;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3a3f6d;
  line-height: 20px;
}
.passSaveWebsite-wrapper .password-modal3 .password-title .password-title-info {
  color: #1e1e1e;
  font-size: 18px;
}
.passSaveWebsite-wrapper .password-modal3 .password-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.passSaveWebsite-wrapper .password-modal3 .password-body .password-body-num {
  width: 230px;
  height: 36px;
  text-align: center;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.passSaveWebsite-wrapper .passSaveWebsite-logo {
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
  margin-top: 24px;
  margin-left: 24px;
  cursor: pointer;
}
.passSaveWebsite-wrapper .passSaveWebsite-item-wrapper {
  width: 312px;
  border-radius: 8px;
  margin-left: 24px;
  display: flex;
  align-items: center;
}
.passSaveWebsite-wrapper .passSaveWebsite-item-wrapper .passSaveWebsite-item {
  background: #f8f9fc;
  height: 64px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.passSaveWebsite-wrapper .passSaveWebsite-item-wrapper .passSaveWebsite-item .passSaveWebsite-item-url {
  margin-left: 16px;
}
.passSaveWebsite-wrapper .passSaveWebsite-item-wrapper .passSaveWebsite-item .passSaveWebsite-item-delete {
  margin-right: 24px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
