.forgot-form-title {
  cursor: pointer;
}
.ant-form-item-explain {
  display: none;
}
.smile-message {
  width: 150px;
  height: 88px;
  background: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(198, 206, 219, 0.8), 1px 1px 4px 0px rgba(255, 255, 255, 0.3), -1px -1px 3px 0px rgba(242, 244, 247, 0.2);
  border-radius: 8px;
  position: absolute;
  top: 220px;
  left: 120px;
  z-index: 999;
}
.smile-message .icon-fail {
  width: 48px;
  height: 48px;
  margin-left: 50px;
  margin-bottom: 4px;
  margin-top: 8px;
}
.smile-message .smile-text {
  width: 150px;
  margin-left: 5px;
  text-align: center;
  height: 16px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 600;
  color: #5770ec;
  line-height: 17px;
}
.error-message {
  width: 116px;
  height: 88px;
  background: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(198, 206, 219, 0.8), 1px 1px 4px 0px rgba(255, 255, 255, 0.3), -1px -1px 3px 0px rgba(242, 244, 247, 0.2);
  border-radius: 8px;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 999;
}
.error-message .icon-fail {
  width: 48px;
  height: 48px;
  margin: 0 34px;
  margin-bottom: 4px;
  margin-top: 8px;
}
.error-message .error-text {
  margin-left: 16px;
  text-align: center;
  width: 84px;
  height: 16px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 600;
  color: #5770ec;
  line-height: 17px;
}
.forgot-card-wrapper {
  box-sizing: border-box;
  width: 360px;
  height: 580px;
}
.forgot-card-wrapper * {
  margin: 0;
  padding: 0;
}
.forgot-card-wrapper .forgot-form-title {
  margin-bottom: 32px;
  margin-left: 24px;
  margin-top: 24px;
  width: 24px;
  height: 24px;
}
.forgot-card-wrapper .forgot-card-content {
  padding-left: 24px;
  box-sizing: border-box;
}
.forgot-card-wrapper .forgot-card-content .forgot-card-forgotText {
  width: 112px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3a3f6d;
  line-height: 40px;
}
.forgot-card-wrapper .forgot-card-content .forgot-card-inputForgotText {
  width: 84px;
  height: 20px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #4e5278;
  line-height: 20px;
  margin-top: 40px;
  outline: none;
}
.forgot-card-wrapper .forgot-card-content .forgot-card-input {
  border: none;
  border-bottom: 1px solid #ececec;
  width: 312px;
  outline: transparent;
  margin-top: 30px;
}
.forgot-card-wrapper .forgot-card-content .forgot-form-btn {
  width: 312px;
  height: 50px;
  line-height: 1px;
  background: linear-gradient(244deg, #4ca0fe 0%, #8455ff 100%);
  margin-top: 55px;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 1px;
}
.forgot-card-wrapper .forgot-card-content .getVCode {
  border: 1px solid #c9c9c9;
  font-size: 10px;
  padding: 5px;
  border-radius: 20%;
  color: #8c8c8c;
  cursor: pointer;
  margin-bottom: 3px;
}
