.home-reset-wrapper {
  width: 360px;
  height: 580px;
  box-sizing: border-box;
}
.home-reset-wrapper .ant-form-item-explain {
  display: hidden;
}
.home-reset-wrapper .error-message {
  width: 116px;
  height: 88px;
  background: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(198, 206, 219, 0.8), 1px 1px 4px 0px rgba(255, 255, 255, 0.3), -1px -1px 3px 0px rgba(242, 244, 247, 0.2);
  border-radius: 8px;
  position: absolute;
  top: 220px;
  left: 120px;
  z-index: 999;
}
.home-reset-wrapper .error-message .icon-fail {
  width: 48px;
  height: 48px;
  margin: 0 34px;
  margin-bottom: 4px;
  margin-top: 8px;
}
.home-reset-wrapper .error-message .error-text {
  margin-left: 16px;
  text-align: center;
  width: 84px;
  height: 16px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 600;
  color: #5770ec;
  line-height: 17px;
}
.home-reset-wrapper .home-reset-title .home-reset-title-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 32px;
  cursor: pointer;
}
.home-reset-wrapper .home-reset-title-text {
  width: 130px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3a3f6d;
  line-height: 40px;
  margin-bottom: 40px;
  margin-left: 24px;
}
.home-reset-wrapper .home-reset-old {
  width: 100px;
  height: 20px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #4e5278;
  line-height: 20px;
  margin-left: 24px;
}
.home-reset-wrapper .form-input {
  width: 312px;
  height: 40px;
  box-shadow: 0px 0px 0px 0px #b8b9d4;
  border: none;
  outline: none;
  border-bottom: 1px solid #dbdbe8;
  opacity: 0.7;
  margin-left: 23px;
  margin-top: 30px;
}
.home-reset-wrapper .form-save-wrappers {
  width: 312px;
  height: 50px;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 22px;
  margin-top: 64px;
  margin-left: 24px;
  border-radius: 40px;
  border-color: transparent;
  outline: none;
  background: linear-gradient(244deg, #4ca0fe 0%, #8455ff 100%);
  color: #fff;
  cursor: pointer;
}
.home-reset-wrapper .pd-10 {
  padding: 10px;
}
.home-reset-wrapper .bd-ccc {
  border-bottom: 1px solid #ccc;
}
.home-reset-wrapper .layout {
  display: flex;
  justify-content: space-between;
}
