.set-wrapper {
  width: 360px;
  height: 580px;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.set-wrapper .from {
  margin-top: 32px;
  width: 360px;
}
.set-wrapper .from .from-btn {
  background: url("btn_bg@3x.png") no-repeat;
  background-size: 100% 100%;
  width: 312px;
  height: 60px;
  line-height: 1px;
  color: #fff;
  border-style: none;
  outline: none;
  margin-top: 100px;
  margin-left: 30px;
}
.set-wrapper .from .set-body-input {
  margin-left: 30px;
  width: 312px;
  height: 40px;
  margin-top: 10px;
  padding-left: 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #b8b9d4;
}
.set-wrapper .from .ant-form-item-explain {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.set-wrapper .from .form-text {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #4e5278;
  line-height: 20px;
  margin-left: 30px;
}
.set-wrapper .setMain-icon {
  width: 30px;
  margin-left: 30px;
  margin-top: 15px;
  cursor: pointer;
}
.set-wrapper .set-header {
  margin-left: 30px;
  margin-top: 30px;
  width: 140px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3a3f6d;
  line-height: 40px;
}
.set-wrapper .set-header h1 {
  color: #3a3f6d;
}
.reset-wrapper {
  width: 360px;
  height: 580px;
  box-sizing: border-box;
}
.reset-wrapper .form-text {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #4e5278;
  line-height: 20px;
  margin-left: 30px;
}
.reset-wrapper .resetMain-icon {
  width: 30px;
  margin-left: 30px;
  margin-top: 15px;
  cursor: pointer;
}
.reset-wrapper .from {
  margin-top: 32px;
  width: 360px;
}
.reset-wrapper .from .from-btn {
  background: linear-gradient(244deg, #4ca0fe 0%, #8455ff 100%);
  width: 312px;
  height: 45px;
  color: #fff;
  border-style: none;
  outline: none;
  margin-top: 40px;
  margin-left: 25px;
}
.reset-wrapper .from .set-body-input {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 0px;
  border-bottom: 1px solid #b8b9d4;
}
.reset-wrapper .setMain-icon {
  width: 30px;
  margin-left: 30px;
  margin-top: 15px;
  cursor: pointer;
}
.reset-wrapper .set-header {
  margin-left: 30px;
  margin-top: 30px;
  width: 140px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3a3f6d;
  line-height: 40px;
}
.reset-wrapper .set-header h1 {
  color: #3a3f6d;
}
