.folder-wrapper {
  width: 360px;
  height: 580px;
  position: relative;
  input::-webkit-input-placeholder {
    text-align: center;
  }
  input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #b8b9d4 !important;
  }
  .reFranch {
    width: 60px;
    height: 60px;
    margin-left: 300px;
    margin-top: 24px;
    cursor: pointer;
  }
  .folder-collect {
    height: 410px;
    overflow: auto;
    margin-left: 10px;
  }
  .folder-create {
    width: 138px;
    height: 70px;
    float: left;
    background: url("./createBg.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 15px;
    margin: 15px 0px 15px 20px;

    border-radius: 3%;
    .folder-create-item {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  .folder-info {
    width: 138px;
    height: 70px;
    background: #f8f9fc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    float: left;
    cursor: pointer;
    .folder-user-info {
      margin: 10px;
    }
    .folder-icon {
      margin-top: 10px;
      margin-left: 5px;
      .mlr-6 {
        margin: 0 6px;
      }
      .mr-6 {
        width: 40px;
        height: 40px;
        margin-right: 6px;
      }
    }
    .folder-text {
      width: 32px;
      height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #3a3f6d;
      line-height: 22px;
    }
  }
  .folderModal-wrapper {
    position: absolute;
    left: 15%;
    top: 30%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: inset 0 0 3px #ccc;
    box-sizing: border-box;
    .modal-icon {
      width: 32px;
      height: 32px;
      margin-top: 16px;
      margin-bottom: 8px;
      margin-left: 108px;
    }
    .modal-text {
      width: 70px;
      height: 20px;
      font-size: 14px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #3a3f6d;
      line-height: 20px;
      margin-bottom: 16px;
      margin-left: 90px;
    }
    .modal-input {
      border: none;
      outline: none;
      caret-color: #b8b9d4;
      width: 224px;
      height: 36px;
      background: #f8f9fc;
      border-radius: 4px;
      margin-left: 15px;
      text-align: center;
    }

    .password-btn-group {
      width: 100%;
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
      .main {
        width: 108px;
        height: 36px;
        box-sizing: border-box;
        padding: 2px;
        border-radius: 18px;
        background-image: -webkit-linear-gradient(
          90deg,
          rgba(24, 191, 246, 1),
          rgba(24, 117, 246, 1)
        );
      }
      .btn-1 {
        width: 100%;
        height: 100%;
        border-radius: 18px;
        background: #fff;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
      }
      .set-bg {
        width: 108px;
        height: 36px;
        background: linear-gradient(245deg, #4ca0fe 0%, #8455ff 100%);
        border-radius: 18px;
        cursor: pointer;
      }
      .btn-layout {
        width: 108px;
        height: 36px;
        text-align: center;
        line-height: 36px;
      }
      .ml-20 {
        margin-right: 14px;
        margin-left: 15px;
        margin-bottom: 15px;
      }
      .mr-20 {
        margin-right: 20px;
      }
    }
  }
}
