.folder-wrapper {
  width: 360px;
  height: 580px;
  position: relative;
}
.folder-wrapper input::-webkit-input-placeholder {
  text-align: center;
}
.folder-wrapper input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b8b9d4 !important;
}
.folder-wrapper .home-body .robot-icon {
  width: 190px;
  height: 167px;
  margin-top: 15px;
  margin-bottom: 24px;
  margin-left: 79px;
}
.folder-wrapper .home-body .robot-text {
  width: 112px;
  height: 20px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #8f96b6;
  line-height: 20px;
  margin-left: 124px;
}
.folder-wrapper .home-body .robot-add-wrapper {
  cursor: pointer;
  width: 123px;
  height: 42px;
  background: linear-gradient(244deg, #4ca0fe 0%, #8455ff 100%);
  border-radius: 4px;
  margin-left: 119px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.folder-wrapper .home-body .robot-add-wrapper .robot-add-icon {
  width: 16px;
  height: 16px;
}
.folder-wrapper .home-body .robot-add-wrapper .robot-add-text {
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 20px;
  margin-left: 8px;
}
.folder-wrapper .reFranch {
  width: 60px;
  height: 60px;
  margin-left: 300px;
  margin-top: 24px;
  cursor: pointer;
}
.folder-wrapper .folder-collect {
  height: 410px;
  overflow: auto;
  margin-left: 10px;
}
.folder-wrapper .folder-create {
  width: 138px;
  height: 72px;
  float: left;
  background: url("createBg.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 15px 20px;
  border-radius: 3%;
}
.folder-wrapper .folder-create .folder-create-item {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 20px;
}
.folder-wrapper .folder-info {
  width: 138px;
  height: 72px;
  background: #f8f9fc;
  border-radius: 8px;
  align-items: center;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  float: left;
  cursor: pointer;
  position: relative;
}
.folder-wrapper .folder-info .folder-user-info {
  margin: 5px 10px 0px 10px;
  width: 138px;
  height: 30px;
}
.folder-wrapper .folder-info .folder-banner-icon {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background: linear-gradient(222deg, #4ca0fe 0%, #8455ff 100%);
  width: 30px;
  height: 16px;
  line-height: 16px;
  border-radius: 100px 0px 0px 100px;
}
.folder-wrapper .folder-info .folder-icon {
  margin-top: 5px;
  margin-left: 45px;
}
.folder-wrapper .folder-info .folder-icon .mlr-6 {
  margin: 0 6px;
}
.folder-wrapper .folder-info .folder-icon .mr-6 {
  width: 40px;
  height: 40px;
  margin-right: 6px;
}
.folder-wrapper .folder-info .folder-text {
  height: 30px;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3a3f6d;
  line-height: 22px;
  margin-left: 40px;
}
.folder-wrapper .folderModal-wrapper {
  position: absolute;
  left: 15%;
  top: 30%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: inset 0 0 3px #ccc;
  box-sizing: border-box;
}
.folder-wrapper .folderModal-wrapper .modal-explain {
  margin: 10px 0px 5px 20px;
  color: red;
}
.folder-wrapper .folderModal-wrapper .modal-icon {
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 108px;
}
.folder-wrapper .folderModal-wrapper .modal-text {
  width: 70px;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3a3f6d;
  line-height: 20px;
  margin-bottom: 16px;
  margin-left: 90px;
}
.folder-wrapper .folderModal-wrapper .modal-input {
  border: none;
  outline: none;
  caret-color: #b8b9d4;
  width: 224px;
  height: 36px;
  background: #f8f9fc;
  border-radius: 4px;
  margin-left: 15px;
  text-align: center;
}
.folder-wrapper .folderModal-wrapper .password-btn-group {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.folder-wrapper .folderModal-wrapper .password-btn-group .main {
  width: 108px;
  height: 36px;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 18px;
  background-image: -webkit-linear-gradient(90deg, #18bff6, #1875f6);
}
.folder-wrapper .folderModal-wrapper .password-btn-group .btn-1 {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.folder-wrapper .folderModal-wrapper .password-btn-group .set-bg {
  width: 108px;
  height: 36px;
  background: linear-gradient(245deg, #4ca0fe 0%, #8455ff 100%);
  border-radius: 18px;
  cursor: pointer;
}
.folder-wrapper .folderModal-wrapper .password-btn-group .btn-layout {
  width: 108px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
.folder-wrapper .folderModal-wrapper .password-btn-group .ml-20 {
  margin-right: 14px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.folder-wrapper .folderModal-wrapper .password-btn-group .mr-20 {
  margin-right: 20px;
}
