.home-about-wrapper {
  width: 360px;
  height: 580px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 24px;
  .home-about-aboutUs {
    width: 360px;
    display: flex;

    margin-bottom: 36px;
    .home-about-arrowRights {
      width: 16px;
      height: 16px;
      margin-top: 2px;
      margin-right: 10px;
    }
    .home-about-version-text {
      width: 32px;
      height: 20px;
      font-size: 14px;
      font-family: PingFang-SC-Medium, PingFang-SC;
      font-weight: 500;
      color: #7881a9;
      line-height: 20px;
      margin-right: 6px;
    }
    .home-about-version {
      display: flex;
      height: 20px;
    }
    .home-about-arrowRight {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
    .home-about-icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    .home-about-text {
      margin-right: 220px;
      margin-top: 3px;
      height: 20px;
      font-size: 14px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #5d648b;
      line-height: 20px;
    }
    .home-about-texts {
      margin-right: 150px;
      margin-top: 3px;

      height: 20px;
      font-size: 14px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #5d648b;
      line-height: 20px;
    }
    .home-about-textss {
      margin-right: 180px;
      margin-top: 1px;
      height: 20px;
      font-size: 14px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #5d648b;
      line-height: 20px;
    }
  }
  .home-about-titleIcon {
    width: 24px;
    height: 24px;
    margin-bottom: 40px;
    cursor: pointer;
  }
}
