.newPsw-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 360px;
  height: 580px;
  background: #ffffff;
  border: 1px solid transparent;
}
.newPsw-wrapper .password-delete-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 312px;
  top: 27px;
  cursor: pointer;
}
.newPsw-wrapper * {
  margin: 0;
  padding: 0;
}
.newPsw-wrapper .ant-form-item-explain {
  margin-top: -20px;
}
.newPsw-wrapper input {
  outline: none;
  border: none;
}
.newPsw-wrapper .password-modal {
  display: none;
  position: absolute;
  top: 144px;
  left: 45px;
  background: #ffffff;
  border: 1px solid #ebf1fb;
  width: 270px;
  height: 300px;
  z-index: 1000;
}
.newPsw-wrapper .password-modal .password-title-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  margin-right: 16px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal .password-title {
  margin-top: 8px;
  margin-left: 81px;
  width: 108px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}
.newPsw-wrapper .password-modal .password-title .password-title-info {
  color: #1e1e1e;
  font-size: 18px;
}
.newPsw-wrapper .password-modal .password-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.newPsw-wrapper .password-modal .password-body .password-body-num {
  width: 230px;
  height: 66px;
  text-align: center;
  line-height: 18px;
}
.newPsw-wrapper .password-modal .password-body .password-body-num .password-body-num-text {
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper {
  height: 16px;
  display: flex;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .ant-slider-handle {
  width: 12px;
  height: 12px;
  background: url("slider.png");
  border: none;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .ant-slider-track {
  background: #8455ff;
  height: 2px;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .ant-slider-rail {
  height: 2px;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .ant-slider-step {
  height: 2px;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .password-slider {
  width: 193px;
  margin: 0 8px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select {
  display: flex;
  margin-top: 39px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .password-select-info {
  width: 26px;
  height: 22.5px;
  color: #7881a9;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .ml {
  margin-left: 46px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .mr {
  margin-right: 44px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .c-ml {
  margin-left: 4px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .set-b {
  background-size: 16px 16px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .ant-checkbox-inner {
  background: url("checkbox／unselected+normal.png") no-repeat;
  width: 17px;
  height: 17px;
  border-style: none;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .ant-checkbox-checked::after {
  border: none;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .ant-checkbox-checked {
  background: url("checkbox／selected+normal.png") no-repeat;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .main {
  width: 108px;
  height: 36px;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 18px;
  background-image: -webkit-linear-gradient(90deg, #18bff6, #1875f6);
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .btn-1 {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .set-bg {
  width: 108px;
  height: 36px;
  background: linear-gradient(245deg, #4ca0fe 0%, #8455ff 100%);
  border-radius: 18px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .btn-layout {
  width: 108px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .ml-20 {
  margin-left: 20px;
  margin-right: 14px;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .mr-20 {
  margin-right: 20px;
}
.newPsw-wrapper .newPsw-form-title {
  box-sizing: border-box;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.newPsw-wrapper .position-to-input-left {
  position: absolute;
  right: 64px;
  top: 249px;
  z-index: 999;
}
.newPsw-wrapper .position-to-input-right {
  position: absolute;
  right: 24px;
  top: 249px;
  z-index: 999;
}
.newPsw-wrapper .cursor {
  cursor: pointer;
}
.newPsw-wrapper .newPsw-card-content {
  padding: 0 24px;
  box-sizing: border-box;
}
.newPsw-wrapper .newPsw-card-content .newPsw-card-newPswText {
  color: #8c8c8c;
  margin-bottom: 20px;
}
.newPsw-wrapper .newPsw-card-content .newPsw-card-input {
  border: none;
  border-bottom: 1px solid #ececec;
  width: 312px;
  height: 30px;
  caret-color: #5770ec;
  margin-bottom: 24px;
}
.newPsw-wrapper .newPsw-card-content .newPsw-card-inputTextArea {
  width: 312px;
  height: 88px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #d5d6e4;
  outline: none;
  margin-top: 8px;
  caret-color: #d5d6e4;
}
.newPsw-wrapper .newPsw-card-content .newPsw-form-btn {
  width: 312px;
  height: 45px;
  background: linear-gradient(244deg, #4ca0fe 0%, #8455ff 100%);
  border-style: none;
  text-align: 20px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 22px;
  margin-top: 44px;
}
.newPsw-wrapper .newPsw-card-content .getVCode {
  border: 1px solid #c9c9c9;
  font-size: 10px;
  padding: 5px;
  border-radius: 20%;
  color: #8c8c8c;
  cursor: pointer;
  margin-bottom: 3px;
}
.newPsw-wrapper .newPsw-card-content .newPsw-card-inputnewPswText {
  color: #7881a9;
  height: 17px;
  width: 24px;
}
.newPsw-wrapper .password-modal {
  display: none;
  position: absolute;
  top: 130px;
  left: 45px;
  background: #ffffff;
  border: 1px solid #ebf1fb;
  width: 270px;
  height: 300px;
  z-index: 1000;
}
.newPsw-wrapper .password-modal .password-title-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  margin-right: 16px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal .password-title {
  margin-top: 8px;
  margin-left: 81px;
  width: 108px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}
.newPsw-wrapper .password-modal .password-title .password-title-info {
  color: #1e1e1e;
  font-size: 18px;
}
.newPsw-wrapper .password-modal .password-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.newPsw-wrapper .password-modal .password-body .password-body-num {
  width: 230px;
  height: 36px;
  text-align: center;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper {
  height: 16px;
  display: flex;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .ant-slider-handle {
  width: 12px;
  height: 12px;
  background: url("slider.png");
  border: none;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .ant-slider-track {
  background: #8455ff;
  height: 2px;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .ant-slider-rail {
  height: 2px;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .ant-slider-step {
  height: 2px;
}
.newPsw-wrapper .password-modal .password-body .password-slider-wrapper .password-slider {
  width: 193px;
  margin: 0 8px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select {
  display: flex;
  margin-top: 39px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .password-select-info {
  width: 26px;
  height: 22.5px;
  color: #7881a9;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .ml {
  margin-left: 46px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .mr {
  margin-right: 44px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .c-ml {
  margin-left: 4px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .set-b {
  background-size: 16px 16px;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .ant-checkbox-inner {
  background: url("checkbox／unselected+normal.png") no-repeat;
  width: 17px;
  height: 17px;
  border-style: none;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .ant-checkbox-checked::after {
  border: none;
}
.newPsw-wrapper .password-modal .password-body .password-body-select .ant-checkbox-checked {
  background: url("checkbox／selected+normal.png") no-repeat;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .main {
  width: 108px;
  height: 36px;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 18px;
  background-image: -webkit-linear-gradient(90deg, #18bff6, #1875f6);
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .btn-1 {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .set-bg {
  width: 108px;
  height: 36px;
  background: linear-gradient(245deg, #4ca0fe 0%, #8455ff 100%);
  border-radius: 18px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .btn-layout {
  width: 108px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .ml-20 {
  margin-left: 20px;
  margin-right: 14px;
}
.newPsw-wrapper .password-modal .password-body .password-btn-group .mr-20 {
  margin-right: 20px;
}
.newPsw-wrapper .password-modal2 {
  display: none;
  position: absolute;
  top: 144px;
  left: 45px;
  background: #ffffff;
  border: 1px solid #ebf1fb;
  width: 270px;
  z-index: 1000;
}
.newPsw-wrapper .password-modal2 .password-title-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  margin-right: 16px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal2 .password-title-icon .lock-icon {
  width: 32px;
  height: 32px;
  margin-right: 100px;
}
.newPsw-wrapper .password-modal2 .password-title {
  margin-top: 15px;
  margin-left: 70px;
  text-align: center;
  line-height: 18px;
  width: 140px;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3a3f6d;
  line-height: 20px;
}
.newPsw-wrapper .password-modal2 .password-title .password-title-info {
  color: #1e1e1e;
  font-size: 18px;
}
.newPsw-wrapper .password-modal2 .password-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-num {
  width: 230px;
  height: 36px;
  text-align: center;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newPsw-wrapper .password-modal2 .password-body .password-slider-wrapper {
  height: 16px;
  display: flex;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}
.newPsw-wrapper .password-modal2 .password-body .password-slider-wrapper .ant-slider-handle {
  width: 12px;
  height: 12px;
  background: url("slider.png");
  border: none;
}
.newPsw-wrapper .password-modal2 .password-body .password-slider-wrapper .ant-slider-track {
  background: #8455ff;
  height: 2px;
}
.newPsw-wrapper .password-modal2 .password-body .password-slider-wrapper .ant-slider-rail {
  height: 2px;
}
.newPsw-wrapper .password-modal2 .password-body .password-slider-wrapper .ant-slider-step {
  height: 2px;
}
.newPsw-wrapper .password-modal2 .password-body .password-slider-wrapper .password-slider {
  width: 193px;
  margin: 0 8px;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select {
  display: flex;
  margin-top: 39px;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select .password-select-info {
  width: 26px;
  height: 22.5px;
  color: #7881a9;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select .ml {
  margin-left: 46px;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select .mr {
  margin-right: 44px;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select .c-ml {
  margin-left: 4px;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select .set-b {
  background-size: 16px 16px;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select .ant-checkbox-inner {
  background: url("checkbox／unselected+normal.png") no-repeat;
  width: 17px;
  height: 17px;
  border-style: none;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select .ant-checkbox-checked::after {
  border: none;
}
.newPsw-wrapper .password-modal2 .password-body .password-body-select .ant-checkbox-checked {
  background: url("checkbox／selected+normal.png") no-repeat;
}
.newPsw-wrapper .password-modal2 .password-body .password-btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.newPsw-wrapper .password-modal2 .password-body .password-btn-group .main {
  width: 108px;
  height: 36px;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 18px;
  background-image: -webkit-linear-gradient(90deg, #18bff6, #1875f6);
}
.newPsw-wrapper .password-modal2 .password-body .password-btn-group .btn-1 {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal2 .password-body .password-btn-group .set-bg {
  width: 108px;
  height: 36px;
  background: linear-gradient(245deg, #4ca0fe 0%, #8455ff 100%);
  border-radius: 18px;
  cursor: pointer;
}
.newPsw-wrapper .password-modal2 .password-body .password-btn-group .btn-layout {
  width: 108px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
.newPsw-wrapper .password-modal2 .password-body .password-btn-group .ml-20 {
  margin-left: 20px;
  margin-right: 14px;
}
.newPsw-wrapper .password-modal2 .password-body .password-btn-group .mr-20 {
  margin-right: 20px;
}
